@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  color: #9e9aa7;
}

::selection {
  background-color: #2acfcf;
  color: white;
}

.container {
  width: 75vw;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 90vw;
  }
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #9e9aa7;
  font-weight: 700;
  transition: color 100ms ease;
}

.link:hover {
  color: #3b3054;
}

.heading-dark {
  color: #3b3054;
}

.heading-light {
  color: white;
}

.menu {
  display: none;
  cursor: pointer;
  grid-row: 1/2;
  height: 50%;
}

.menu-btn {
  height: 3px;
  width: 2rem;
  background-color: #bfbfbf;
  position: relative;
}

.menu-btn::before, .menu-btn::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: inherit;
  position: absolute;
}

.menu-btn::before {
  transform: translateY(0.7rem);
}

.menu-btn::after {
  transform: translateY(-0.7rem);
}

@media screen and (max-width: 870px) {
  .menu {
    display: flex;
    align-items: center;
  }
}

.cta {
  color: white;
  background-color: #2acfcf;
  padding: 0.7em 2em;
  border: none;
  position: relative;
}

.cta.rounded {
  border-radius: 5em;
}

.cta.rounded-sm {
  border-radius: 0.4em;
}

.cta::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: inherit;
  left: 0;
  top: 0;
  transform: scale(0);
  transition: transform 100ms ease-in;
  transform-origin: left;
}

.cta:hover {
  color: white;
  cursor: pointer;
}

.cta:hover::before {
  color: white;
  transform: scale(1);
}

.header {
  padding: 5rem 0 25rem 0;
  background-image: url(illustration-working.svg);
  background-repeat: no-repeat;
  background-position: 60vw 50%;
  background-clip: padding-box;
}

@media screen and (max-width: 870px) {
  .header {
    background-position: center 15vh;
    background-size: 500px;
    padding-bottom: 20rem;
  }
}

@media screen and (max-width: 500px) {
  .header {
    background-position: 2rem 15vh;
  }
}

.header .navbar {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-gap: 5rem;
  grid-template-columns: max-content 1fr;
}

@media screen and (max-width: 870px) {
  .header .navbar {
    grid-template-columns: max-content max-content;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }
}

.header__logo {
  color: #3b3054;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 870px) {
  .header .nav {
    background-color: #3b3054;
    position: absolute;
    top: 200%;
    flex-direction: column;
    border-radius: 2rem;
    padding: 3rem;
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    transition: transform 150ms ease-in, opacity 200ms ease;
  }
  .header .nav.scale {
    opacity: 1;
    transform: scale(1);
  }
}

.header .nav .nav__links {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 4rem;
}

@media screen and (max-width: 870px) {
  .header .nav .nav__links {
    grid-auto-flow: row;
    justify-content: center;
    justify-items: center;
    grid-gap: 3rem;
    padding-bottom: 2rem;
  }
  .header .nav .nav__links:last-of-type {
    padding-top: 2rem;
    border-top: 1px solid #9e9aa7;
  }
}

.header .nav li {
  width: 100%;
  text-align: center;
}

.header .nav li a {
  font-size: 1.4rem;
}

@media screen and (max-width: 870px) {
  .header .nav li a {
    color: white;
    font-size: 1.8rem;
  }
  .header .nav li a.cta {
    padding-inline: 5rem;
  }
}

.header .heading-container {
  align-self: bottom;
  margin-top: 20vh;
  width: 60%;
  font-size: 2rem;
}

@media screen and (max-width: 870px) {
  .header .heading-container {
    width: 100%;
    text-align: center;
    margin-top: 60vh;
  }
}

.header .heading-container .heading-dark {
  font-size: 7.5rem;
  line-height: 9rem;
}

@media screen and (max-width: 870px) {
  .header .heading-container .heading-dark {
    font-size: 4rem;
    line-height: 4rem;
  }
}

.header .heading-container p {
  width: 80%;
}

@media screen and (max-width: 870px) {
  .header .heading-container p {
    width: 100%;
    margin-top: 2rem;
  }
}

.header .heading-container .cta-container {
  margin-top: 5rem;
}

@media screen and (max-width: 870px) {
  .header .heading-container .cta-container {
    margin-top: 4rem;
  }
}

.main {
  background-color: whitesmoke;
}

.main .urlbox-container {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 5rem;
}

.main .urlbox-container .url-form {
  background: url(./bg-shorten-desktop.svg), #3b3054;
  background-repeat: no-repeat;
  padding: 3em;
  transform: translateY(-50%);
  position: relative;
  border-radius: 1.8rem;
}

@media screen and (max-width: 870px) {
  .main .urlbox-container .url-form {
    background: url(./bg-shorten-mobile.svg), #3b3054;
    background-repeat: no-repeat;
    background-position: top right;
    padding: 1em;
    border-radius: 1.2rem;
    width: 90vw;
  }
}

.main .urlbox-container .url-form .error-message {
  position: absolute;
  color: #f46262;
  font-style: italic;
  transform: translateY(5px);
  font-size: 1.4rem;
}

@media screen and (max-width: 870px) {
  .main .urlbox-container .url-form .error-message {
    transform: translateY(-85px);
  }
}

.main .urlbox-container .url-form form {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr max-content;
  grid-gap: 2.5rem;
}

@media screen and (max-width: 870px) {
  .main .urlbox-container .url-form form {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}

.main .urlbox-container .url-form form .url-form-input {
  width: 100%;
  border-radius: 0.4em;
  border: none;
  font-size: 1.8rem;
  padding-inline: 1em;
  color: #3b3054;
  padding: 1rem 1.6rem;
}

.main .urlbox-container .url-form form .url-form-input.red-outline {
  box-shadow: 0 0 0 0.3rem #f46262;
}

@media screen and (max-width: 870px) {
  .main .urlbox-container .url-form form .url-form-input.red-outline {
    margin-bottom: 2rem;
  }
}

.main .urlbox-container .url-form form .url-form-input:focus {
  outline: none;
}

.main .urlbox-container .url-form form .url-form-input.error {
  box-shadow: 0 0 0 0.25rem #f46262;
}

.main .urlbox-container .url-form form .url-form-input.error::placeholder {
  color: #f46262;
}

.main .urlbox-container .url-form form .cta {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main .urlbox-container .url-form form .cta.loading {
  pointer-events: none;
}

.main .urlbox-container .url-form form .cta.loading::after {
  content: "";
  margin-left: 1rem;
  opacity: 1;
  height: 2rem;
  width: 2rem;
  border: .3rem solid white;
  border-bottom-color: rgba(255, 255, 255, 0.3);
  border-radius: 5rem;
  animation: rotating 1s cubic-bezier(0.53, 1.65, 0.89, -0.7) infinite;
}

.main .urlbox-container .url-container {
  transform: translateY(-7rem);
  background-color: white;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

@media screen and (max-width: 870px) {
  .main .urlbox-container .url-container {
    display: grid;
    grid-gap: 1rem;
    border-radius: 1rem;
  }
}

.main .urlbox-container .url-container .original_link {
  margin-right: auto;
  color: #3b3054;
  max-width: 50vw;
  word-wrap: break-word;
}

@media screen and (max-width: 870px) {
  .main .urlbox-container .url-container .original_link {
    max-width: 80vw;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #bfbfbf;
  }
}

.main .urlbox-container .url-container .short_link {
  color: #2acfcf;
}

.main .urlbox-container .url-container .cta {
  font-size: 1.4rem;
  margin-left: 2rem;
}

@media screen and (max-width: 870px) {
  .main .urlbox-container .url-container .cta {
    text-align: center;
    margin: 0;
  }
}

.main .urlbox-container .url-container .cta.copy {
  background-color: #3b3054;
}

.main .urlbox-container .url-container .cta.copy:hover::before {
  transform: scale(0);
}

.main .advanced-stats {
  display: grid;
  grid-gap: 10rem;
  padding-bottom: 10rem;
}

.main .advanced-stats .heading-container {
  display: grid;
  justify-items: center;
  grid-gap: 2rem;
  text-align: center;
}

.main .advanced-stats .heading-container h2 {
  font-size: 4rem;
}

@media screen and (max-width: 870px) {
  .main .advanced-stats .heading-container h2 {
    font-size: 3rem;
  }
}

.main .advanced-stats .heading-container p {
  width: 50%;
}

@media screen and (max-width: 870px) {
  .main .advanced-stats .heading-container p {
    width: 80%;
  }
}

.main .advanced-stats .cards-container {
  display: grid;
  grid-auto-flow: column;
  position: relative;
  grid-gap: 2vw;
  align-items: start;
  justify-items: start;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 870px) {
  .main .advanced-stats .cards-container {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-gap: 10rem;
    justify-items: center;
  }
}

.main .advanced-stats .cards-container .ribbon {
  position: absolute;
  height: 1rem;
  width: 80%;
  background-color: #2acfcf;
  top: 50%;
  z-index: 5;
}

@media screen and (max-width: 870px) {
  .main .advanced-stats .cards-container .ribbon {
    width: 1rem;
    height: 80%;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
}

.main .advanced-stats .cards-container .card {
  position: relative;
  z-index: 10;
  background-color: #fff;
  padding: 3rem;
  padding-top: 0;
  padding-bottom: 5rem;
  border-radius: 1rem;
  display: grid;
}

@media screen and (max-width: 870px) {
  .main .advanced-stats .cards-container .card {
    justify-items: center;
    text-align: center;
    max-width: 40rem;
  }
}

.main .advanced-stats .cards-container .card .img-container {
  background-color: #3b3054;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 9rem;
  border-radius: 10rem;
  transform: translateY(-50%);
}

.main .advanced-stats .cards-container .card .heading-dark {
  font-size: 2rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
  font-size: 2.2rem;
}

.main .advanced-stats .cards-container .card .card-desc {
  font-size: 1.6rem;
}

.main .advanced-stats .cards-container .card-2 {
  margin-top: 5rem;
}

@media screen and (max-width: 870px) {
  .main .advanced-stats .cards-container .card-2 {
    margin-top: 0;
  }
}

.main .advanced-stats .cards-container .card-3 {
  margin-top: 10rem;
}

@media screen and (max-width: 870px) {
  .main .advanced-stats .cards-container .card-3 {
    margin-top: 0;
  }
}

.main .boost-cta {
  background: url(./bg-boost-desktop.svg), #3b3054;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 5rem;
}

@media screen and (max-width: 450px) {
  .main .boost-cta {
    background: url(./bg-boost-mobile.svg), #3b3054;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
  }
}

.main .boost-cta .heading-light {
  font-size: 4rem;
}

@media screen and (max-width: 870px) {
  .main .boost-cta .heading-light {
    font-size: 2.5rem;
  }
}

.main .boost-cta .cta {
  font-size: 2rem;
}

.main .boost-cta .container {
  display: grid;
  grid-gap: 3rem;
  justify-content: center;
  justify-items: center;
}

.footer {
  background-color: #232127;
  padding-block: 7rem;
}

.footer .logo-container {
  color: white;
}

.footer .container {
  display: grid;
  grid-auto-flow: column;
}

@media screen and (max-width: 870px) {
  .footer .container {
    grid-auto-flow: row;
    justify-content: center;
    text-align: center;
    grid-gap: 5rem;
  }
}

.footer .links-container {
  display: grid;
  grid-auto-flow: column;
  font-size: 1.4rem;
}

@media screen and (max-width: 870px) {
  .footer .links-container {
    grid-auto-flow: row;
    grid-gap: 3rem;
  }
}

.footer .heading-light {
  margin-bottom: 1.5rem;
}

.footer .footer__links {
  display: grid;
  grid-gap: 1rem;
}

.footer .link {
  font-weight: normal;
}

.footer .link:hover {
  color: #2acfcf;
}

.footer .icons {
  display: grid;
  grid-gap: 0.5rem;
  grid-auto-flow: column;
  font-size: 2.5rem;
}

@media screen and (max-width: 870px) {
  .footer .icons {
    grid-gap: 3rem;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
